*.pyc
audio/
configs/
certificates/
data-for-extracting-audio/
dejavu-arch/
tests/
bg_recorder_logger_from_ui.py 
configs-copy.json
error*
main-copy.py
output.txt
run_conda_env.bat
.env
flow/software-arch-1.drawio
temp_task.bat